extends ../layout/index.pug

//- Template variables
block vars
  - var $templateName = 'home';
  - var $templateClass = 'home';
  - var $definePath = host ? host : '.'


//- Page styles
block append styles
  //-Desing System
  link(rel='stylesheet', href=`${$definePath}/styles/index.css`, media='all')/

//- Main Content
block content
  blue-component

block append scripts
  script(type='text/javascript', src=`${$definePath}/js/index.js`) 